<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Matemáticas Olimpicas</title>
    
    <!-- Icono del sitio web -->
    <link rel="icon" href="static/img/B1.png" type="image/png" />
    
    <!-- Enlace a la hoja de estilos -->
    <link rel="stylesheet" href="static/css/styles.css" />

    <!-- Enlace a script -->
    <script defer src="static/script/main.js"></script>
</head>

<body>

    <!-- Bloque de encabezado -->
    <header class="header">
        <div class="header__logo">
            <img src="static/img/B1A.png" alt="Logotipo" />
        </div>
        <nav class="header__nav">
            <a class="header__link" href="index.html">Principal</a>
            <a class="header__link" href="templates/libros.html">Libros</a>
            <a class="header__link" href="templates/problemas.html">Problemas</a>
        </nav>
    </header>

    <!-- Bloque main  -->
    <main class="main">

        <section class="libro">
           <section class="libro__1">
                <a href="https://www.ommenlinea.org/portfolio-items/7932/?portfolioCats=13">
                    <img src="static/img/B1.png" alt="" class="b1" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/combinatoria/?portfolioCats=13">
                    <img src="static/img/B2.png" alt="" class="b2" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/principios-de-olimpiada/?portfolioCats=13">
                    <img src="static/img/B3.png" alt="" class="b3" width="300" height="auto" />
                </a>
            </section>

            <section class="libro__2">
                <a href="https://www.ommenlinea.org/portfolio-items/geometria/?portfolioCats=13">
                    <img src="static/img/B4.png" alt="" class="b4" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/teoria-de-numeros/?portfolioCats=13">
                    <img src="static/img/B5.png" alt="" class="b5" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/1500/?portfolioCats=13">
                    <img src="static/img/B6.png" alt="" class="b6" width="300" height="auto" />
                </a>
            </section>

            <section class="libro__3">
                <a href="https://www.ommenlinea.org/portfolio-items/desigualdades/?portfolioCats=13">
                    <img src="static/img/B7.png" alt="" class="b7" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/olimpiada-en-san-luis-avanzado/?portfolioCats=13">
                    <img src="static/img/B8.png" alt="" class="b8" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/olimpiadas-en-slp-introductorio/?portfolioCats=13">
                    <img src="static/img/B9.png" alt="" class="b9" width="300" height="auto" />
                </a>
            </section>

            <section class="libro__4">
                <a href="https://www.ommenlinea.org/portfolio-items/matematicas-preolimpicas/?portfolioCats=13">
                    <img src="static/img/B10.png" alt="" class="b10" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/problemas-avanzados-de-olimpiada/?portfolioCats=13">
                    <img src="static/img/B11.png" alt="" class="b11" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/combinatoria-para-olimpiadas-internacionales/?portfolioCats=13">
                    <img src="static/img/B12.png" alt="" class="b12" width="300" height="auto" />
                </a>
            </section>

            <section class="libro__5">
                <a href="https://www.ommenlinea.org/portfolio-items/1523/?portfolioCats=13">
                    <img src="static/img/B13.png" alt="" class="b13" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/algebra/?portfolioCats=13">
                    <img src="static/img/B14.png" alt="" class="b14" width="300" height="auto" />
                </a>
                <a href="https://www.ommenlinea.org/portfolio-items/combinatoria-avanzada/?portfolioCats=13">
                    <img src="static/img/B15.png" alt="" class="b15" width="300" height="auto" />
                </a>
            </section>
        </section>

    </main>

    <!-- Bloque del pie de página -->
    <footer class="footer"> 
        <p class="footer__text">Copyright 2025</p>
    </footer>

</body>
</html>
